<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingzhi.xingzhiblog.dao.ArticleMapper">

    <resultMap id="TagVOResultMap" type="com.xingzhi.xingzhiblog.domain.vo.ArticleListVO">
        <result property="title" column="title"/>
        <result property="image" column="image"/>
        <result property="brief" column="brief"/>
        <result property="userName" column="user_name"/>
        <result property="likeCount" column="author_school"/>
        <result property="viewCount" column="author_adress"/>
        <result property="commentCount" column="author_qrcode"/>
        <result property="tagDtoList" column="author_wechat_number"/>
    </resultMap>

    <sql id="TagVOFlied">

    </sql>

    <select id="getALlArticle" resultType="com.xingzhi.xingzhiblog.domain.vo.ArticleListVO">
        select
            <include refid="TagVOFlied"/>
        from article_blog ab
        left join article_detail ad on ab.id = ad.blog_id
        left join user_login ul on ab.user_id = ul.id
        left join article_blog_tag abt on ab.id = abt.blog_id
        left join article_tag atag on atag.id = abt.tag_id;
    </select>

</mapper>